<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDo</title>

   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <a class="nav-brand" asp-controller="Home" asp-action="Index">لیست کارها</a>
                <div class="nav-links">
                    <a asp-controller="User" asp-action="Login">ورود</a>
                    <a asp-controller="User" asp-action="Register">ثبت‌نام</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>© 2025 - ToDoList</p>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
