.login-container {
    width: 350px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    text-align: center;
}

    .login-container h2 {
        margin-bottom: 25px;
        color: #333;
    }

    .login-container label {
        display: block;
        text-align: right;
        margin-top: 10px;
        font-size: 14px;
        color: #555;
    }

    .login-container input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
    }

    .login-container button {
        margin-top: 20px;
        width: 100%;
        background-color: #3b82f6;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s;
    }

        .login-container button:hover {
            background-color: #2563eb;
        }

.register-link {
    margin-top: 20px;
    font-size: 14px;
}

    .register-link a {
        color: #3b82f6;
        text-decoration: none;
        font-weight: bold;
    }

        .register-link a:hover {
            text-decoration: underline;
        }
