body {
    font-family: 'Vazir', sans-serif;
    background-color: #f5f6fa;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.navbar {
    background-color: #3b82f6;
    color: white;
    padding: 10px 0;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
}

    .nav-links a:hover {
        text-decoration: underline;
    }


.container {
    padding: 30px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #555;
    position: fixed;
    width: 100%;
    bottom: 0;
}
